*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, black, transparent);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.display {
    width: 100%;
    height: 80px;
    background: black;
    color: #ccc;
    font-size: 32px;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}

.input {
    padding: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actions>.btn {
    width: 47%;
}

.btn {
    /* width: 80px; */
    height: 80px;
    font-size: 32px;
    border-radius: 5px;
    background-color: transparent;
    color: #e8f8e9b8;
    /* border: 1px solid #cccc; */
}

.btn:hover, .btn:active {
    background-color: #cccC;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

/* body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0b0c1b;
    box-sizing: border-box;
}

.wrapper {
    border: 3px solid #1cbfff;
    border-radius: 10px;
    padding: 1px;
    max-width: 400px;
    min-width: 230px;
    margin: 0 auto;
}


.display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px;
    column-gap: 1px;
    row-gap: 1px;
    background-color: rgba(133, 212, 212, 0.308);
    border-bottom: 1px solid black;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 60px 60px 60px 60px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    column-gap: 1px;
    padding: 1px 0;
}

.button {
    background-color: rgba(225, 228, 233, 0.863);
    font-size: 16px;
    font-weight: bold;
} */
